# apps/api-gateway/.env
GROQ_API_KEY=
PORT=3001
GLM_API_KEY=seu_token_aqui
MOONSHOT_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=

#Extrator de agentes HEFESTO  #KIMI= Default
HEFESTO_PROVIDER=kimi

